# .gitignore
examples/voxceleb/v2/data/
examples/voxceleb/v2/exp/
examples/voxceleb/v2/*.sh
examples/voxceleb/v2/conf/extractor/*
examples/cnceleb/v2/data/
examples/cnceleb/v2/exp/
examples/voxceleb/v2/conf/

*.pyc
*.out
!examples/voxceleb/v2/conf/wavlm_base_MHFA_LR.yaml
!examples/voxceleb/v2/conf/wavlm_base_MHFA_LR_lm.yaml
!examples/voxceleb/v2/run_HUBERT2.sh
!examples/voxceleb/v2/run_HUBERT2_V2.sh
!examples/voxceleb/v2/exp/WavLM-BasePlus-FullFineTuning-MHFA-emb256-3s-LRS10-Epoch40/config.yaml
!examples/voxceleb/v2/exp/WavLM-BasePlus-FullFineTuning-MHFA-emb256-3s-LRS10-Epoch40/train.log
